.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 15px;
} 

.header__logo {
    flex: 0 0 150px;
    /* background-color: #fff; */
}

.header__img {
    max-height: 80px;
    object-fit: contain;
}


.header ul {
    margin: 0;
    display: flex;

    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    flex: 1;
}
.header ul li {
    flex: 1;
    text-align: center;
}
.header ul a {
    /* color: #fff; */
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
    transition: opacity .2s ease, color .2s ease;
}
.header ul a:hover {
    opacity: .7;
    color: red
}